{% extends "users/base.html" %}

{% block title %} Thần Số Học {% endblock %}

{% block content %}

<style>
    .content-container {
        text-align: center; /* Căn giữa nội dung */
        margin-bottom: 20px; /* Khoảng cách dưới container của nội dung */
        font-weight: bold;
    }
    .result {
        color: blue;
        font-weight: bold;
    }
    .content {
        font-weight: bold;
    }
</style>
<div class="content-container">
<h1>Bạn đã xuất thành công pdf!!!</h1>
<br>
{% endblock %}